[Unit]
Description=Package builder client daemon

[Service]
ExecStart=/usr/bin/syncpkgcd -l /var/log/syncpkgcd.log -p /var/run/syncpkgcd.pid -u syncpkgd

[Install]
WantedBy=multi-user.target
